.inputWrapper{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 5px;
    border-radius: 30px;
    background-color: var(--card);
    backdrop-filter: blur(10px);
    gap: 3%;
    height: 60px;

}

.inputWrapper input{
    padding: 0;
    padding-left: 20px;
    font-size: 18px;
    height: 100%;

}

.createTaskButton{
    border-radius: calc(30px - 5px);
    font-weight: 800;
    font-size: 18px;
    height: 100%;
}
