.userInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 10px;
}

.userInfo span:first-child{
    font-weight: bold;
    font-size: medium;
}
.userInfo span:last-child{
    font-size: small;
}



.info{
    align-items: end;
    display: flex;
    flex-direction: column;
}

.trigger{
    padding: 5px 15px;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
}
.settings{
    transition: .3s;
}

.trigger:hover{
    background-color: var(--card-foreground);
    .settings{
        transform: rotate(40deg);
    }
}

.user{
    background-color: var(--card);
}

.login{
    background-color: var(--primary);
    color: var(--secondary);
}

.login:hover{
    color: var(--primary);
}
