.wrapper{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 15px;
    width: fit-content;
    height: 42px;

    padding: 8px;
    transition: .3s;
    cursor: pointer;
    background-color: var(--card-foreground);

}

.iconBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: calc(15px - 8px);
    height: 100%;
    background-color: var(--card);

    aspect-ratio: 1/1;
}

.label{
    font-weight: 600;
    font-size: 16px;
}