.tagWrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 10%;
    border-radius: 15px;
    width: fit-content;
    padding: 8px 15px;
    transition: .3s;
    cursor: pointer;

}

.checkbox{
    background-color: transparent;
    border: none
}