.wrapper{
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    border-radius: var(--radius-md);

    cursor: pointer;
    background-color: var(--accent);
}

.wrapper input{
    height: 100%;
}

